*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: white;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #420202, #1b0202);
    display: grid;
    place-items: center;
}
#container{
height: 70vh;
position: relative;
width: 70vw;
background: linear-gradient(to right, #FF416c, #FF4B4B);
display: flex;
justify-content: center;
align-items: center;
border-radius: 50px 10px;
box-shadow: inset 1px 2px 0px rgba(241, 148, 148, 0.18), inset -2px -2px 2px rgb(0 0 0 / 65%);
}
#location{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
}
#location input{
    position: relative;
    margin: 10px;
    height: 50px;
    width: 300px;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
    background: #ffffff50;
    font-size: 20px;
    border-radius: 25px 10px;
    color: #fff;   
}
#location input::placeholder {
    color: #e2e2e2;
}
#container input[type="submit"]{
    cursor: pointer;
    font-size: 25px;
    font-weight: 700px;
    color:   #FF416c;
    background: white;
}
#location input:hover{
    top: -2px;
}
#information{
    display: none;
}
#information img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    right: 100px;
}
#information #weatherCountry{
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 3rem;
}
#information #temperature{
    position: absolute;
    top: 90px;
    left: 60px;
    font-size: 2rem; 
}
#information #weatherDescription{
    position: absolute;
    top: 150px;
    left: 150px;
    font-size: 2rem; 
}
#information ul {
    position: absolute;
    bottom: 20px;
    left: 30px;
}
#information ul li{
    margin: 10px;
    font-size: 1rem;
}
#information #back{
    position: absolute;
    bottom: 20px;
    height: 50px;
    width: 100px;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
    background: #ffffff50;
    font-size: 20px;
    border-radius: 25px 10px;
    color: #fff; 
}
#information #back:hover{
    font-weight: 500px;
    bottom: 25px;
    cursor: pointer;
}